{% extends "base.html" %}
{% block title %}Accueil Plateforme Urbaine{% endblock %}
{% block content %}
<div class="bg-white rounded shadow p-5 mt-5">
    <h1 class="text-3xl font-bold mb-4 text-center text-primary">Bienvenue sur la Plateforme de Signalement et de Navigation Urbaine</h1>
    <div class="flex flex-col items-center gap-4">
        <a href="{% url 'report_list' %}" class="btn btn-primary w-64 text-lg py-2 shadow hover:scale-105 transition">Voir les signalements</a>
        <a href="/navigation/routes/" class="btn btn-success w-64 text-lg py-2 shadow hover:scale-105 transition">Voir les routes</a>
        <a href="/navigation/points-of-interest/" class="btn btn-info w-64 text-lg py-2 shadow hover:scale-105 transition">Points d'intérêt</a>
        {% comment %} <a href="{% url 'report_stats' %}" class="btn btn-dark">Statistiques</a> {% endcomment %}
        {% comment %} <a href="{% url 'report_create' %}" class="btn btn-warning">Nouveau signalement</a> {% endcomment %}
    </div>
</div>
{% endblock %}